DATABASE_URL="postgresql://postgres:password@localhost:5432/cronbet"
NEXTAUTH_SECRET="your-super-secret-key-minimum-32-chars"
NEXTAUTH_URL="https://cronbet.com"
CLOUDINARY_URL=""
AIML_API_KEY=your_aiml_api_key_here
